.calendar {
    position: relative;
    width: 1200px;
    margin-left: 75px;
}

div.date, div.days {
    position: relative;
    width: 150px;
    border: 1px solid #C0392B;
    float: left;
    margin: 1px;
    background-color:#E74C3C;
    color: black;
    font-size: 20px;
    overflow-y: scroll;

}



.blankday {
    background: #ccc;
    opacity: .60;
}
.day {
    text-align: center;
}
div.date {
    height: 150px;
}

.today {
    background: #cfc;
}

.all {
    position: relative;
    width: 100%;
    height: 100%;
}
.form {
    margin:  70px auto;
    width: 350px;
    height: 370px;
    background-color: #E74C3C;
    text-align: center;
    border:2px solid #C0392B;
    opacity: 0.9;
}
.textbox {
    float: left;
    width: 270px;
    padding: 12px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.textarea {
    float: left;
    width: 270px;
    height: 140px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 270;
    background-color: #c0392b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e74c3c;

}

.text_header {
    font-family: monospace;
    font-size: 50px;
  color: black;
    text-shadow: -1px 0 #C0392B, 0 1px #C0392B, 1px 0 #C0392B, 0 -1px #C0392B;

}

.bottom {
    padding: 17%;
    position: absolute;
    top: 0px;
    width: 66%;
    height: 66%;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#c0392b;
}

/* Float the list items side by side */


/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color:#e74c3c;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
    float: left;
  text-align: center;
  font-size: 10px;
  padding: 20px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


::-webkit-scrollbar {
    width: 0px;
}